/* Baseline */
@keyframes scroll-left {0% {transform: translateX(100%)} 100% {transform: translateX(-100%)}}
.marquee {overflow: hidden; height: 30px; position: relative;}
.marquee p {
  margin: 0; white-space: nowrap; overflow: hidden;
  transform: translateX(100%); position: absolute; margin: 5px;
  animation: scroll-left 7s linear infinite;
}
img {image-rendering: pixelated; image-rendering: -moz-crisp-edges; image-rendering: crisp-edges;}
img.block {display: block;}
div.imgrow {display: flex; flex-flow: row wrap;}
img.embed {height: 1em;}
br {content: '\A'; display: contents; white-space: pre;}
.break {flex-basis: 100%; height: 0;}

/* Main Layout Set */
body {
  font-family: "Main";
  background-color: black;
  width: 900px; margin: var(--gap) auto;
  display: flex; flex-direction: column; gap: var(--gap);
}
header {
  border: var(--border); border-radius: var(--border-radius);
  background-color: var(--bg); padding: 10px; text-align: center;
  display: flex; justify-content: space-between; align-items: flex-start;
  }
#content {display: flex; gap: var(--gap);}
aside {width: 190px; display: flex; flex-direction: column; gap: var(--gap);}
main {width: 710px; display: flex; flex-direction: column; gap: var(--gap);}
section {
  border: var(--border); border-radius: var(--border-radius);
  background-color: var(--bg); padding: 15px 10px 20px 10px;
}
section.scrollhori {display: flex; flex: initial; overflow: auto;}
section.scrollvert {display: flex; flex: initial; overflow: auto; flex-direction: column;}
.scroll {display: flex; min-height: min-content; flex-direction: inherit;}
section.nopad {padding: 0px;}
section.mainNav {display: flex; flex-direction: column;}
footer {
  border: var(--border); border-radius: var(--border-radius);
  background-color: var(--bg); padding: 10px;
  display: flex; justify-content: space-between;
}

/* Individual Elements */
h1 {font-size: 1.5em; font-family: "Heading"; margin: 5px 0px; padding: 0px;}
p {margin: 5px 0px;}
a {margin: 5px 0px; font-size: 1em;}
ul{margin: 0px; padding: 0px; list-style-type: none;}
img.bullet {margin: 0px; height: 1em;}
audio {width: 100%; height: 30px; display: block;}
li {background: var(--bullet-img) top left no-repeat; background-size: 1em;
  height: 1em; padding-left: 1em; margin: 5px 0px;}
