@font-face {
    font-family: "7serif";
    src: url(/font/Seven-Serif.ttf);
}

h1 {
  text-decoration: underline;
  font-size: 60px;
}

body {
  background: url(/img/starbg.gif) repeat top left;
  color: white;
  font-family: "7serif";
  font-size: 30px;
  width: 900px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

main {
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  padding: 20px;
}

a {
  color: #5f5f5f;
  text-decoration: underline;
}

img {
  padding: 20px;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

footer {
  font-size: 25px;
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  clear:both;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
