@font-face {
    font-family: "7serif";
    src: url(/font/Seven-Serif.ttf);
}

h1 {
  text-decoration: underline;
  font-size: 60px;
}

body {
    background: url(/img/starbg.gif) repeat top left;
    color: white;
    font-family: "7serif";
    font-size: 35px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
