@font-face {
    font-family: "7serif";
    src: url(/font/Seven-Serif.ttf);
}

h1 {
  text-decoration: underline;
  font-size: 60px;
}

body {
    background: url(/img/starbg.gif) repeat top left;
    color: white;
    font-family: "7serif";
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

a {
  color: #5f5f5f;
  text-decoration: underline;
}

.header {
  background-color: black;
  border-width: 5px;
  border-color: white;
}

.main {
  background-color: black;
  border-width: 5px;
  border-color: white;
}
