@font-face {font-family: "7serif"; src: url(/font/Seven-Serif.ttf);}

body {
  background: url(/img/starbg.gif) repeat top left;
  color: white;
  font-family: "7serif";
  font: 30px "7serif";
  text-align: center;
  box-sizing: border-box;
  width: 900px;
  margin: 10px auto;
  height: 100%;
}

html {
  height: 100%;
}

header {
  box-sizing: border-box;
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  margin-bottom: 10px;
}

h1 {
  text-decoration: underline;
  font-size: 60px;
  margin: 20px;
}

h2 {
  font-size: 40px;
}

ol, ul {
  padding: 0px;
  list-style-type: none;
}

li {
  padding: 5px 0px;
}

main {
  padding: 15px;
  box-sizing: border-box;
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  float: right;
  width: 690px;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  color: #5f5f5f;
  text-decoration: underline;
}

img {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

nav {
  box-sizing: border-box;
  float: left;
  background-color: black;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  width: 200px;
  height: 300px;
  text-align: left;
  padding: 15px;
}

.navLinks {
  padding: 0px;
  margin: 0px;
}

.navTitle {
  margin-bottom: 10px;
  margin-top: 0px;
}

footer {
  box-sizing: border-box;
  font-size: 25px;
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  overflow: hidden;
  float: right;
  clear: both;
  width: 690px;
  margin: 10px 0px;
}

.footerL {
  float: left;
  margin: 10px;
}

.footerR {
  float: right;
  margin: 10px;
}
